<div id="wj-pricing" data-section="pricing">
	    <div class="container">
	        <div class="row">
	            <div class="col-md-12 section-heading text-center">
	                <h2 class="animate-box" data-animate-effect="fadeIn">Contact Us</h2>
	                <div class="row animate-box" data-animate-effect="fadeIn">
	                    <div class="col-md-8 col-md-offset-2 subtext">
	                        <h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h3>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-md-6 col-sm-6">
	                <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyALWZ-zPga8tknZ9ZGF3kdFBVO51srZTRg&q=Executive Lifestyles Gym - 555 W 8th Ave #100, Vancouver, BC V5Z 1C6, Canada" width="100%" height="400" frameborder="0" style="border: 2px solid #ECEEF0;-webkit-border-radius: 5px;-moz-border-radius: 5px;-ms-border-radius: 5px;border-radius: 5px;" allowfullscreen></iframe>
	            </div>
	            <div class="col-md-6 col-sm-6">
	                <div class="price-box animate-box" data-animate-effect="fadeIn">
	                    <!-- <h2 class="pricing-plan">Regular</h2>
	                    <div class="price"><sup class="currency">$</sup>19<small>/mo</small></div>
	                    <p>Basic customer support for small business</p>
	                    <hr>
	                    <ul class="pricing-info">
	                        <li>15 projects</li>
	                        <li>40 Pages</li>
	                        <li>40 Emails</li>
	                        <li>200 Images</li>
	                    </ul> -->
	                   <!--  <a href="#" class="btn btn-default btn-sm">Get started</a> -->
	                    
	                    
                        <form>
                            <div class="form-group">
                            <label for="email">Name:</label>
                            <input type="text" class="form-control" id="email">
                            </div>
                            <div class="form-group">
                            <label for="email">Email address:</label>
                            <input type="email" class="form-control" id="email">
                            </div>
                            <div class="form-group">
                            <label for="pwd">Message:</label>
                                <textarea type="text" class="form-control" id="pwd"></textarea>
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
	                    
	                </div>
	            </div>
	        </div>
	    </div>
	</div>