<div id="wj-description" data-section="tour">
		<div class="container">
			<div class="row row-bottom-padded-lg">
				<div class="col-md-10 col-md-offset-1">
					<div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
						<img src="/img/discussion-screenshot-1.png" alt="{{site.title}}" class="img-responsive img-feature-1">	
					</div>
					<div class="col-md-7 col-md-push-1">
						<h2>Discussions</h2>
						<p><strong>UnboundPrep Discussion</strong> is a virtual place where conversations can take place and information can be shared more easily among a geographically dispersed group of people.A specific topic of common interest or for a specific user group around a particular piece of work.</p>
						<p><a href="{{site.discussion}}" class="btn btn-primary">Learn more</a></p>	
					</div>
					
				</div>
			</div>

			<div class="row row-bottom-padded-lg">
				<div class="col-md-10 col-md-offset-1">
					<div class="col-md-4 col-md-push-8 animate-box" data-animate-effect="fadeInRight">
						<img src="/img/discussion-screenshot-2.png" alt="{{site.title}}" class="img-responsive img-feature-1">	
					</div>
					<div class="col-md-7 col-md-pull-4">
						<h2>Categories</h2>
						<p>UnboundPrep serves diverse interests of the learners and provides group discussions on varieties of topics, subject and mutual interest.</p>
						<p><a href="https://discussion.unboundprep.com/categories" class="btn btn-primary">Learn more</a></p>	
					</div>
					
				</div>
			</div>

			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
						<img src="/img/discussion-screenshot-3.png" alt="{{site.title}}" class="img-responsive img-feature-1">	
					</div>
					<div class="col-md-7 col-md-push-1">
						<h2>Blog</h2>
						<p>UnboundPrep offers blogging option to share your thoughts and your passions, We can say that a blog is your own area that you are going to update on a regular basis.</p>
						<p><a href="{{site.blog}}" class="btn btn-primary">Learn more</a></p>	
					</div>
					
				</div>
			</div>
		</div>
	</div>