<div id="wj-tour" data-section="tour">
		<div class="container">
			<div class="row row-bottom-padded-lg">
				<div class="col-md-10 col-md-offset-1">
					<div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
						<img src="/img/discussion-screenshot-1.png" alt="{{site.title}}" class="img-responsive img-feature-1">	
					</div>
					<div class="col-md-7 col-md-push-1">
						<h2>Discussions</h2>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
						<p><a href="#" class="btn btn-primary">Learn more</a></p>	
					</div>
					
				</div>
			</div>

			<div class="row row-bottom-padded-lg">
				<div class="col-md-10 col-md-offset-1">
					<div class="col-md-4 col-md-push-8 animate-box" data-animate-effect="fadeInRight">
						<img src="/img/discussion-screenshot-2.png" alt="{{site.title}}" class="img-responsive img-feature-1">	
					</div>
					<div class="col-md-7 col-md-pull-4">
						<h2>Categories</h2>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
						<p><a href="#" class="btn btn-primary">Learn more</a></p>	
					</div>
					
				</div>
			</div>

			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
						<img src="/img/discussion-screenshot-3.png" alt="{{site.title}}" class="img-responsive img-feature-1">	
					</div>
					<div class="col-md-7 col-md-push-1">
						<h2>Blog</h2>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
						<p><a href="#" class="btn btn-primary">Learn more</a></p>	
					</div>
					
				</div>
			</div>
		</div>
	</div>