<footer id="footer" role="contentinfo">
		<div class="container">
			<div class="row row-bottom-padded-sm">
				<div class="col-md-12">
					<p class="copyright text-center">&copy; 2017 Copyrights <a href="{{site.baseurl}}/">UnboundPrep</a>. All Rights Reserved. <a href="https://discussion.unboundprep.com/tos">Terms of Use </a>|<a href="https://discussion.unboundprep.com/privacy"> Privacy Policy</a><br> Developed by <a href="http://webjeda.com/" target="_blank">webjeda.com</a></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<ul class="social social-circle">
						<li><a href="{{site.twitter}}"><i class="icon-twitter"></i></a></li>
						<li><a href="{{site.facebook}}"><i class="icon-facebook"></i></a></li>
						<li><a href="{{site.linedin}}"><i class="icon-linkedin"></i></a></li>
						<li><a href="{{site.instagram}}"><i class="icon-instagram"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
