<div id="wj-our-services" data-section="services">
		<div class="container">
			<div class="row row-bottom-padded-sm animate-box">
				<div class="col-md-12 section-heading text-center">
					<h2>Our Services</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">

				<div class="col-md-4">
					<div class="box animate-box">
						<div class="icon colored-1"><span><i class="icon-people"></i></span></div>
						<h3>100% free</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="box animate-box">
						<div class="icon colored-4"><span><i class="icon-heart"></i></span></div>
						<h3>Made with love</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="box animate-box">
						<div class="icon colored-2"><span><i class="icon-screen-desktop"></i></span></div>
						<h3>Fully responsive</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
					</div>
				</div>

			</div>
		</div>
	</div>