<div id="slider" data-section="home">
		<div class="owl-carousel owl-carousel-main owl-carousel-fullwidth">
			<!-- You may change the background color here. -->
		    <div class="item" style="background: #4ae2b5;">
		    	<div class="container" style="position: relative;">
		    		<div class="row animate-box" data-animate-effect="fadeIn">
					    <div class="col-md-7 col-sm-7">
			    			<div class="wj-owl-text-wrap">
						    	<div class="wj-owl-text">
						    		<h1 class="wj-lead ">Big Community</h1>
									<h2 class="wj-sub-lead ">100% Free Fully Responsive HTML5 Bootstrap Template. Crafted with love by the fine folks at UnboundPrep</h2>
									<p class=""><a href="{{site.discussion}}" class="btn btn-primary btn-lg">Visit Discussion</a></p>
						    	</div>
						    </div>
					    </div>
					    <div class="col-md-4 col-md-push-1 col-sm-4 col-sm-push-1 mobile-image">
					    <!-- 	<div class="mobile"><img src="images/ios.png" alt="{{site.title}}"></div> -->
					    	<div class="mobile"><img src="/img/discussion-1-2.svg" alt="{{site.title}}"></div>
					    </div>

		    		</div>
		    	</div>
		    </div>
			<!-- You may change the background color here.  -->
		    <div class="item" style="background: #4ae2b5;">
		    	<div class="container" style="position: relative;">
		    		<div class="row animate-box" data-animate-effect="fadeIn">
		    			<div class="col-md-7 col-md-push-1 col-md-push-5 col-sm-7 col-sm-push-1 col-sm-push-5">
			    			<div class="wj-owl-text-wrap">
						    	<div class="wj-owl-text">
						    		<h1 class="wj-lead ">Great Discussions</h1>
									<h2 class="wj-sub-lead ">100% Free Fully Responsive HTML5 Bootstrap Template. Crafted with love by the fine folks at UnboundPrep</h2>
									<p class=""><a href="{{site.discussion}}" class="btn btn-primary btn-lg">Visit Discussion</a></p>
						    	</div>
						    </div>
					    </div>
					    <div class="col-md-4 col-md-pull-7 col-sm-4 col-sm-pull-7 mobile-image">
					    	<div class="mobile"><img src="/img/discussion-2-4.svg" alt="{{site.title}}"></div>
					    </div>

		    		</div>
		    	</div>
		    </div>

		   
		</div>
	</div>