
.map {
    background-image: url(/img/unboundprep-map.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    border: 2px solid #ECEEF0;
    border-radius: 5px;
}

/* .form-group {
    .caret {
        position: absolute;
        right: 16px;
        top: 16px;
    }
}
 */

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    color: #444;
    border: 1px solid $brand-color;
    cursor: pointer;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    @include media-query($on-palm) {
        right: 15px;
    }
}
#back-to-top:hover {
    background: $brand-color;
    color: #fff;
}
#back-to-top.show {
    opacity: 1;
}
.error {
    margin-top: 20%;
}



/* .blog span{
    &:after {
        content: " " url('data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" class=\"i-external\" viewBox=\"0 0 32 32\" width=\"18\" height=\"18\" fill=\"none\" stroke=\"rgba(0,0,0,0.6)\" stroke-linecap=\"round\" stroke-linejoin=\"round\" stroke-width=\"7%\"><path d=\"M14 9 L3 9 3 29 23 29 23 18 M18 4 L28 4 28 14 M28 4 L14 18\" /></svg>');
    }
} */

.item1 {
    background: $brand-color;
}

#slider {
    @include media-query($on-palm) {
        background: #5dade2;
    }
}
